.search-Container {
    display: flex;
    width: 25%;
    height: 45px;
    border: 1px solid  #6691e914;
    background-color: #fff;
    padding-inline: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px ;

}
.search-Container img {
 width: 20px;
 height: 20px;
 background-color: #fff;
}
.search-Container input {
    border: none;
    background-color: #fff;
    height:30px;
    outline: none;
}